<section onclick="showstuff('show', 1);" id="statement">
				<div class="wrapper">
					<p>
			Plastisk kirurgi gir deg mange valgmuligheter. Har du et konkret problem du ønsker å forandre, kan synlige forbedringer ofte oppnås med plastisk kirurgi. Vi tilbyr et bredt spekter av operasjoner både i ansikt og på kropp. Vi har 25 års erfaring og høy medisinsk kompetanse. Det er viktig for oss å oppnå et godt resultat og at du skal føle deg trygg. I samarbeid med Klinikk Bunæs i Sandvika, tilbyr vi et komplett tilbud innenfor kosmetiske behandlinger og plastisk kirurgi.  
					</p>
				</div>
			</section>
			<section onclick="showstuff('show', 1);" id="photos">
				<div class="wrapper nobottom">
					<div id="slideshow">
						<img src="http://miriadna.com/desctopwalls/images/max/Autumn-trees.jpg">
						
					</div>
				
				</div>
				
</section>