 #jsddm
{   margin: 0;
    padding: 0}

    #jsddm li
    {   float: left;
        list-style: none;
        font: 12px Tahoma, Arial}

    #jsddm li a
    {   display: block;
        background: #20548E;
        padding: 5px 12px;
        text-decoration: none;
        border-right: 1px solid white;
        width: 70px;
        color: #EAFFED;
        white-space: nowrap}

    #jsddm li a:hover
    {   background: #1A4473}

        #jsddm li ul
        {   margin: 0;
            padding: 0;
            position: absolute;
            visibility: hidden;
            border-top: 1px solid white}

        #jsddm li ul li
        {   float: none;
            display: inline}

        #jsddm li ul li a
        {   width: auto;
            background: #9F1B1B}

        #jsddm li ul li a:hover
        {   background: #7F1616}

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#sddm li a
{	display: block;
	margin: 0 10px 0 0;
	padding:1em;
	background:#fff;
	font-size:1.5em;
	color:#102C41;
	text-decoration: none;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	}

#sddm li a:hover
{	
	background: #49A3FF;
}

#sddm div
{	position: absolute;
	visibility: hidden;
	width:auto;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	}

	#sddm div a
	{	position: relative;
		float:left;
		text-align:left;
		border-radius: 0px 0px 0px 0px;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		text-decoration: none;
		background: #EAEBD8;
		color: #102C41;
		font: 11px arial}

	#sddm div a:hover
	{	
		text-decoration: underline;
		background:none;
		}