body{
	height: 100%;
	width: 99%;

}

#wrapper{
	float:left;
	width:100%;
	height:100%;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #102C41 0%, #FFFFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #102C41 0%, #FFFFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #102C41 0%, #FFFFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #102C41), color-stop(1, #FFFFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #102C41 0%, #FFFFFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #102C41 0%, #FFFFFF 100%);
}

header{
	width:70%;
	margin-left:15%;
	height:150px;
	display:block;
	background:;
}

nav {
	float:left;
	margin-left:15%;
	width:70%;
	background:
}
.hidden {
  display:none;
}
#show{
	width:auto;
	max-width:70%;
	height:auto;
	position:absolute;
	padding:10px;
	z-index:30;
	margin-left:15%;
	margin-top:19px;
	background:#242424;
	
}

section{
	float:left;
	color:#000;
	width:70%;
	margin-left:15%;
	height:auto;
	min-height:600px;
	padding-bottom:20px;
	background:#fff;
	
}
section > a{
	color:#000;
}

#left{
	width:25%;
	float:left;
	height:90%;
	margin-top:1%;
	margin-left:1%;
	border:1px solid #242424;
	background:#fff;
}
#bigCenter{
	width:95%;
	float:left;
	height:90%;
	margin-top:1%;
	margin-left:1%;
	border:1px solid #242424;
	background:#fff;
}
#centerPic{
	
	width:90%;
	margin-top:1%;
	margin-left:5%;
}
#center {
	width:70%;
	float:left;
	height:90%;
	margin-top:1%;
	margin-left:1%;
	border:1px solid #242424;
	background:#fff;
}

footer {
	float:left;
	width:100%;
	height:100px;
	background: #102C41;
}
